head {

     background-color:black;
 }

 #titulo {
        align-items: center;
       
 }

 h1  {
   color: rgb(151, 236, 151);
   font-size: 36px;
   font-family:Georgia, 'Times New Roman', Times, serif;
   display: block;
   height: 250px;
   width: 2000px;
   background-color:black;
}


body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;

 }
 
nav {
     align-content: left;
}

h2 {
   color: rgb(119, 159, 119);
}
   
 p  {
   color: rgb(0, 0, 0);
   font-size: 16px;
 }
 

 